@model MVCSample.Models.LogOnViewModel
@{
    ViewBag.Title = "LogOn";
}

@using (Html.BeginForm())
{

    <div class="editor-label">
        @Html.LabelFor(m => m.UserName)
    </div>
    <div class="editor-label">
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-label">

            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <p>
            <input type="hidden" name="ReturnUrl" value="@ViewBag.ReturnUrl" />
            <input type="submit" value="提交" />
        </p>
}